.loader-wrapper {
    position: absolute;
    background-color: rgba($color: #bdbdbd86, $alpha: 0.5);
    display: flex;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    justify-content: center;
    align-items: center;
}

.lds-dual-ring {
    position: relative;
    display: inline-block;
    width: 64px;
    height: 64px;
    transform: scale(0.7);
}
.lds-dual-ring:after {
    position: absolute;
    top: 50%;
    left: 50%;
    content: " ";
    display: block;
    width: 46px;
    height: 46px;
    border-radius: 50%;
    border: 5px solid #dfc;
    border-color: rgb(102, 102, 102) transparent rgb(102, 102, 102) transparent;
    transform: translate(-50%, -50%);
    animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
    0% {
        transform: translate(-50%, -50%) rotate(0deg);
    }
    100% {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}
